
@layer components {
  .btn-primary {
    @apply btn;
    /* Colores primarios */
    @apply bg-sleepy-accent text-sleepy-light-text-primary;
    @apply hover:bg-sleepy-accent-hover disabled:opacity-70 text-white;
  }

  .btn-secondary {
    @apply btn;
    /* Colores secundarios */
    @apply bg-sleepy-light-bg-surface text-sleepy-light-text-secondary;
    @apply hover:bg-sleepy-light-border disabled:opacity-70;
    @apply dark:bg-sleepy-dark-bg-surface dark:text-sleepy-dark-text-secondary;
    @apply dark:hover:bg-sleepy-dark-border;
  }
}
