
@layer components {
  .link-internal {
    @apply link link-transition hover:link-hover focus:outline-none;
  }

  .link-external {
    @apply link-secondary hover:link-hover link-transition focus:outline-none focus:ring-2 focus:ring-sleepy-accent;
  }

  .link-nav {
    @apply link link-transition hover:link-hover active:link-active disabled:link-disabled;
    @apply relative font-medium link-after;
  }

  .external-icon {
    @apply inline-block;
  }
}
