
@layer components {
  header {
      @apply header item-sticky z-40;
  }

  .navbar {
    @apply max-w-[1500px] mx-auto flex items-center justify-between h-16 px-0 md:px-4;
  }

  .navbar-menu {
    @apply flex items-center gap-8;
  }

  .navbar-menu-container {
    @apply flex items-center text-xl font-medium select-none gap-4;
  }

  .navbar-item {
    @apply text-sm font-medium transition-colors hover:text-[#E67E22] text-gray-300;
  }
}

@layer components {
  .banner {
    @apply block w-full text-center text-gray-950 py-1 bg-amber-500;
    @apply opacity-0 visibility-hidden transform -translate-y-full;
    @apply transition-all duration-500;
  }
}

@layer components {
  .live-animation {
    @apply relative;

    > span {
      @apply absolute top-[7px] -left-4 block w-2.5 h-2.5 rounded-full;
      @apply  bg-red-500 border border-red-500;
      @apply animate-ping;
      animation-duration: 3s;
      animation-delay: calc(1s * var(--delay));
    }
  }
}

@layer components {
  dialog {
    @apply m-0 p-4 rounded shadow-lg backdrop:bg-black/50 w-64 max-w-full right-0 max-h-none h-screen;
    transition:
      translate 0.2s ease-out,
      display 0.2s ease-in-out allow-discrete;

    &[open] {
      animation: side-nav-appear 0.2s ease-out;

      translate: 0 0;
      scale: 1;

      @starting-style {
        translate: -100% 0;
        scale: 1;
      }
    }

    &:not([open]) {
      translate: -100% 0;
      scale: 1;
    }
  }
}
