<section class="h-screen h-screen relative">
  <app-button (click)="openLayoutsMenu()"
              ariaLabel="Menú móvil"
              class="w-[50px] h-[50px] absolute right-10 md:right-48 top-10"
              variant="secondary">
    ☰
  </app-button>

  <iframe #streamerView class="w-full h-full"></iframe>
</section>

<dialog #layoutsMenuDialog class="bg-sleepy-light-bg-primary dark:bg-sleepy-dark-bg-primary">
  <div class="flex justify-between items-center mb-4 border-b border-b-sleepy-light-border dark:border-b-sleepy-dark-border">
    <h2 class="text-xl font-bold">Menú</h2>
    <button (click)="closeLayoutsMenu()" aria-label="Cerrar menú" class="p-2">✖</button>
  </div>

  <section class="flex flex-wrap gap-4">
    @for (layout of getOverlayLayouts(); track layout.id) {
      <div
        (click)="changeLayout(layout.id)"
        class="shadow-md cursor-pointer rounded bg-sleepy-light-bg-surface dark:bg-sleepy-dark-bg-surface">
        <img [src]="layout.preview" class="rounded-t" height="100" slot="image" alt="Placeholder"/>
        <p class="p-4"><b>{{ layout.name }}</b></p>
      </div>
    }
  </section>
</dialog>
