.brand-intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: oklch(22.46% 0.0207 69.76);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  animation: hideOverlay 3s ease-in-out forwards;
}

.brand-intro-logo {
  max-width: 200px;
  animation: fadeInOut 3s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: scale(0.9); }
  50% { opacity: 1;transform: scale(1); }
  100% { opacity: 0; transform: scale(0.9); }
}

@keyframes hideOverlay {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
