.card-container {
  @apply transition-all duration-200 flex flex-col;
}

/* Variantes de estilo */
.card-primary {
  @apply bg-sleepy-light-bg-primary text-sleepy-light-text-primary;
  @apply dark:bg-sleepy-dark-bg-primary dark:text-sleepy-dark-text-primary;
}

.card-surface {
  @apply bg-sleepy-light-bg-surface text-sleepy-light-text-primary;
  @apply dark:bg-sleepy-dark-bg-surface dark:text-sleepy-dark-text-primary;
}

.card-accent {
  @apply bg-sleepy-accent text-sleepy-light-text-onAccent;
  @apply dark:text-sleepy-dark-text-onAccent;
}

.with-border {
  @apply border border-sleepy-light-border;
  @apply dark:border-sleepy-dark-border;
}

.card-header, .card-footer {
  @apply bg-opacity-50;
}

.card-image {
  @apply overflow-hidden;
}

.card-body {
  @apply flex-grow;
}
