<section
  [attr.id]="id || null"
  role="region"
  [attr.aria-label]="ariaLabel || null"
  [class]="hostClasses">
  <div class="max-w-7xl mx-auto px-4">
    @if (container) {
      <header class="section__header">
        <div class="section__title">
          <ng-content select="[section-title]"></ng-content>
        </div>
        <div class="section__actions">
          <ng-content select="[section-actions]"></ng-content>
        </div>
      </header>

      <div class="section__body">
          <ng-content></ng-content>
        </div>
    } @else {
      <header class="section__header">
        <div class="section__title">
          <ng-content select="[section-title]"></ng-content>
        </div>
        <div class="section__actions">
          <ng-content select="[section-actions]"></ng-content>
        </div>
      </header>

      <div class="section__body">
        <ng-content></ng-content>
      </div>
    }
  </div>
</section>
