<div class="select-container">
  <!-- Etiqueta del campo -->
  <label [for]="id" class="select-label">{{ label }}</label>

  <!-- Botón que actúa como el campo del select -->
  <button
    type="button"
    [id]="id"
    (click)="toggleDropdown()"
    [disabled]="isDisabled"
    class="select-trigger"
    [class.select-trigger-disabled]="isDisabled"
    aria-haspopup="listbox"
    [attr.aria-expanded]="isOpen"
  >
    <span [class.select-placeholder]="!selectedValue || (multiple && selectedValue.length === 0)">
      {{ displayValue() }}
    </span>
    <span class="select-arrow">
      <!-- Icono de flecha (chevron) -->
      <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 3a.75.75 0 01.53.22l3.5 3.5a.75.75 0 01-1.06 1.06L10 5.81 7.03 8.78a.75.75 0 01-1.06-1.06l3.5-3.5A.75.75 0 0110 3zM10 17a.75.75 0 01-.53-.22l-3.5-3.5a.75.75 0 011.06-1.06L10 14.19l2.97-2.97a.75.75 0 011.06 1.06l-3.5 3.5A.75.75 0 0110 17z" clip-rule="evenodd" />
      </svg>
    </span>
  </button>

  <!-- Panel desplegable con las opciones -->
  @if (isOpen) {
    <ul
      class="select-panel"
      tabindex="-1"
      role="listbox"
      [attr.aria-labelledby]="id"
    >
      @for (option of processedOptions(); track option.value) {
        <li
          (click)="selectOption(option)"
          class="select-option"
          [class.select-option-selected]="isOptionSelected(option)"
          role="option"
          [attr.aria-selected]="isOptionSelected(option)"
        >
          <span>{{ option.label }}</span>

          <!-- Muestra el check si la opción está seleccionada -->
          @if (isOptionSelected(option)) {
            <span class="option-check-icon">
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 5.296a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-3.5-3.5a.75.75 0 011.06-1.06L9 12.94l6.97-6.97a.75.75 0 011.06 0z" clip-rule="evenodd" />
              </svg>
            </span>
          }
        </li>
      }
    </ul>
  }
</div>
