@if (routerLink) {
  <app-nav-link
    [classes]="linkClasses"
    [routerLink]="routerLink"
    [routerLinkActiveClass]="routerLinkActiveClass"
    [target]="target"
    [ariaLabel]="ariaLabel">
    <ng-content></ng-content>
  </app-nav-link>
} @else {
  @if (isExternal) {
    <app-external-link
      [classes]="linkClasses"
      [href]="href"
      [target]="target"
      [ariaLabel]="ariaLabel"
      [disabled]="disabled"
      [showExternalIcon]="showExternalIcon">
      <ng-content></ng-content>
    </app-external-link>
  } @else {
    <app-internal-link
      [classes]="linkClasses"
      [href]="href"
      [target]="target"
      [ariaLabel]="ariaLabel">
      <ng-content></ng-content>
    </app-internal-link>
  }
}
