<div
  [ngClass]="{
    'elongated': variant === 'elongated',
    'square': variant === 'square'
  }"
  class="card-content shadow-sleepy">

  <img
    [alt]="'Imagen de ' + project.name"
    [height]="variant === 'elongated' ? 200 : 200"
    [ngClass]="{
      'elongated': variant === 'elongated',
      'square': variant === 'square',
    }"
    [ngSrc]="`/${project.preview}`"
    [width]="variant === 'elongated' ? 300 : 300"/>

  <div class="flex flex-col justify-between card-body">
    <div>
      <h3>{{ project.name }}</h3>
      <p class="w-full">{{ project.creation_date | date:"yyyy" }}</p>

      @if (showDescription) {
        <p>{{ project.description }}</p>
      }
    </div>

    @if (buttonText) {
      <app-button routerLink="/works/{{ project.id }}"
        class="self-start mt-4">
        <button-text class="text-sleepy-light-text-primary">{{ buttonText }}</button-text>
      </app-button>
    }
  </div>
</div>
