/* CSS */
@utility {
  @layer utilities {
    .will-transform { will-change: transform; }
    .safe-tap { -webkit-tap-highlight-color: transparent; }
    .visually-hidden {
      position: absolute !important;
      height: 1px; width: 1px;
      overflow: hidden; clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap; border: 0; padding: 0; margin: -1px;
    }
  }
}
