/* CSS */
@utility item-sticky {
  @apply sticky top-0 z-10;
}

@utility visibility-hidden {
  visibility: hidden;
}

@utility appear {
  opacity: 1;
  visibility: visible;
  transform: translateY(100%);
}
