@utility link {
  @apply text-sleepy-light-text-primary dark:text-sleepy-dark-text-primary;
}

@utility link-secondary {
  @apply text-sleepy-light-text-secondary dark:text-sleepy-dark-text-secondary;
}

@utility link-hover {
  @apply text-sleepy-accent-hover after:w-full;
}

@utility link-transition {
  @apply transition-colors duration-200;
}

@utility link-after {
  @apply after:absolute after:bottom-0 after:left-0 after:w-0 after:h-0.5;
  @apply after:bg-sleepy-accent after:transition-all after:duration-300;
}

@utility link-disabled {
  @apply opacity-60 cursor-not-allowed pointer-events-none;
}

@utility link-active {
  @apply text-sleepy-accent after:w-full
}
