/* CSS */
@layer components {
  @keyframes icon-pulse {
    100% { opacity: 0; transform: scale(2); }
  }

  @keyframes slide-in-right {
    from { translate: 100% 0; }
    to   { translate: 0 0; }
  }
}
