
@theme {
  /* Paleta Sleepy - tokens base (en OKLCH) */
  --color-sleepy-accent: oklch(70% 0.21 55);
  --color-sleepy-accent-hover: oklch(66% 0.19 55);

  /* Modo claro */
  --color-sleepy-light-bg-primary: oklch(99% 0 0);
  --color-sleepy-light-bg-surface: oklch(95% 0.03 70);
  --color-sleepy-light-text-primary: oklch(27% 0.05 60);
  --color-sleepy-light-text-secondary: oklch(65% 0.08 60);
  --color-sleepy-light-border: oklch(92% 0.02 70);
  --color-sleepy-light-text-onAccent: oklch(100% 0 0);

  /* Modo oscuro */
  --color-sleepy-dark-bg-primary: oklch(0.2246 0.0207 69.76);
  --color-sleepy-dark-bg-surface: oklch(34% 0.06 60);
  --color-sleepy-dark-bg-input: oklch(28% 0.05 60);
  --color-sleepy-dark-text-primary: oklch(100% 0 0);
  --color-sleepy-dark-text-secondary: oklch(80% 0.04 70);
  --color-sleepy-dark-border: oklch(34% 0.06 60);
  --color-sleepy-dark-border-input: oklch(45% 0.08 60);
  --color-sleepy-dark-text-onAccent: oklch(100% 0 0);
}
