/* Global utilities aggregator - kept for backward compatibility */
@reference "./utils/core.css";
@reference "./utils/buttons.css";
@reference "./utils/forms.css";
@reference "./utils/cards.css";
@reference "./utils/badges.css";
@reference "./utils/icons.css";
@reference "./utils/navigation.css";
@reference "./utils/typography.css";
@reference "./utils/layout.css";
@reference "./utils/panels.css";
