<article class="project-card">
  <figure class="project-card__figure">
    @if (imageUrl) {
      <img [src]="imageUrl" class="project-card__image" [alt]="'Imagen del proyecto ' + project.name">
      <div class="project-card__gradient-overlay"></div>
    } @else {
      <div class="project-card__placeholder-bg"></div>
    }

    @if (project.isFeatured) {
      <span class="project-card__badge project-card__badge--featured">Destacado</span>
    }
    @if (project.category) {
      <span class="project-card__badge project-card__badge--category">
        {{ project.category }}
      </span>
    }

    <div class="project-card__bottom-text" aria-hidden="true">
      @if (project.year) {
        <p class="project-card__year">{{ project.year }}</p>
      }
      <app-typography-text as="p">{{ project.name }}</app-typography-text>
    </div>

    <figcaption class="sr-only">Banner visual del proyecto {{ project.name }}</figcaption>
  </figure>

  <div class="project-card__content">
    <header>
      <app-typography-title [level]="3" variant="card" align="left">{{ project.name }}</app-typography-title>
    </header>

    <app-typography-text as="p" variant="caption" extraClasses="line-clamp-3">{{ project.description }}</app-typography-text>

    <app-tags-list [tags]="tags"></app-tags-list>

    <nav class="project-card__actions" aria-label="Acciones del proyecto">
      @if (isAdmin) {
        <div class="project-card__admin-actions">
          <div class="project-card__admin-actions-btn-group">
            <app-button
              variant="brand"
              size="sm"
              (click)="onEdit()"
              [ariaLabel]="'Editar proyecto ' + project.name">
              Editar
            </app-button>

            <app-button
              variant="secondary"
              size="sm"
              [routerLink]="['/dashboard/projects', project.slug, 'carousel']"
              [ariaLabel]="'Editar carousel del proyecto ' + project.name">
              Editar Carousel
            </app-button>
          </div>

          <app-button
            variant="ghost"
            size="icon"
            (click)="onDelete()"
            [ariaLabel]="'Eliminar proyecto ' + project.name"
            class="project-card__delete-button">
            <ng-icon name="bootstrapTrash" />
          </app-button>
        </div>
      } @else {
        <app-button
          variant="brand"
          size="md"
          [block]="true"
          (click)="openProjectModal(projectModal)"
          [ariaLabel]="'Ver detalles del proyecto ' + project.name">
          Ver Detalles <ng-icon name="bootstrapArrowRightShort"></ng-icon>
        </app-button>
      }
    </nav>
  </div>
</article>


<app-project-info-modal #projectModal [project]="project"></app-project-info-modal>
