@reference "../../../../styles/utilities.css";

.form-fieldset {
  @apply grid grid-cols-6 gap-x-4 gap-y-5;
}

.form-field-group--span-2 {
  @apply col-span-2;
}

.form-field-group--span-3 {
  @apply col-span-3;
}

.form-field-group--span-4 {
  @apply col-span-4;
}

.form-field-group--span-6 {
  @apply col-span-6;
}
