@reference "./core.css";

/* --- PANEL UTILITIES --- */
@utility floating-panel {
  @apply absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black/5 focus:outline-none dark:bg-gray-800 dark:ring-gray-700;
}

@utility floating-item {
  @apply relative cursor-pointer select-none py-2 pl-3 pr-9 text-gray-900 dark:text-gray-100;
}

@utility floating-item-hover {
  @apply bg-zuzki-100 dark:bg-zuzki-900;
}

@utility floating-item-selected {
  @apply font-semibold bg-zuzki-50 dark:bg-zuzki-950;
}
