@reference "../../../../../../styles/utils/forms.css";
@reference "../../../../../../styles/utils/core.css";

.form-fieldset {
  @apply grid grid-cols-6 gap-x-4 gap-y-5;
}

.form-field-group--span-3 {
  @apply col-span-6 sm:col-span-3;
}

.form-field-group--span-6 {
  @apply col-span-6;
}
