<footer class="border-t py-8 border-sleepy-light-border dark:border-sleepy-dark-border bg-sleepy-light-bg-surface dark:bg-sleepy-dark-bg-surface">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <p class="text-sleepy-light-text-secondary dark:text-sleepy-dark-text-secondary">
        © 2025 Sleepy Zuzki. Todos los derechos reservados.
      </p>
      <div class="flex gap-4 mt-4 md:mt-0">
        <a href="https://github.com/sleepy-zuzki"
          rel="noopener noreferrer nofollow"
          aria-label="Perfil de Github"
          target="_blank">
          <fa-icon [icon]="faGithub" size="2xl"/>
        </a>
        <a href="https://twitch.tv/sleepy_zuzki"
          rel="noopener noreferrer nofollow"
          aria-label="Perfil de Twitch"
          target="_blank">
          <fa-icon [icon]="faTwitch" size="2xl"/>
        </a>
        <a href="https://x.com/sleepy_zuzki"
          rel="noopener noreferrer nofollow"
          aria-label="Perfil de X (Formerly Twitter)"
          target="_blank">
          <fa-icon [icon]="faXTwitter" size="2xl"/>
        </a>
      </div>
    </div>
  </div>
</footer>
