<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <a routerLink="/" class="footer-logo">
        <img
          src="https://cdn.zuzki.dev/public/logo/zuzki_logo_no_name.webp"
          width="100"
          height="100"
          alt="Zuzki Logo"
          class="footer-logo-icon"
        />
      </a>
      <p class="footer-text">
        Creando experiencias digitales únicas, un proyecto a la vez.
      </p>

      <app-social-icons [platforms]="['twitch', 'youtube', 'github', 'x']"></app-social-icons>

      <div class="footer-copyright">
        <p class="footer-copyright-text">
          © {{ currentYear }} Sleepy Zuzki. <span class="text-gray-600 dark:text-gray-400">Todos los derechos reservados.</span>
        </p>
      </div>
    </div>
  </div>
</footer>
