.project-modal-content {
  .carousel {
    position: relative;
    margin-bottom: 20px;

    .carousel-image {
      width: 100%;
      height: auto;
      border-radius: 5px;
      max-height: 70vh;
      object-fit: contain;
    }

    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      border: none;
      cursor: pointer;
      padding: 10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    .prev {
      left: 10px;
    }

    .next {
      right: 10px;
    }
  }

  .project-details {
    p {
        margin: 0;
    }
  }
}
