@if (routerLink || href) {
  <app-link-button
    [routerLink]="routerLink"
    [routerLinkActiveClass]="routerLinkActiveClass"
    [variant]="variant"
    [href]="href"
    [ariaLabel]="ariaLabel"
    [iconPosition]="iconPosition"
    [size]="size"
    [responsiveSize]="responsiveSize">
    <ng-content/>
  </app-link-button>
} @else {
  <app-action-button
    [variant]="variant"
    [disabled]="disabled"
    [type]="type"
    [ariaLabel]="ariaLabel"
    [iconPosition]="iconPosition"
    [size]="size"
    [responsiveSize]="responsiveSize"
    (click)="emitCallback($event)">
    <ng-content/>
  </app-action-button>
}
